body{
    background: linear-gradient(to right , rgb(208, 225, 24), rgb(10, 162, 66)
    );
}
.title-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 30px;
    margin-bottom: 30px;
}
.info{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-bottom: 30px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-bottom: 30px;
    border-radius: 5px;
}
.box{
    background: linear-gradient(to right , rgb(208, 225, 24), rgb(10, 162, 66));
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}